$frame: 32;

.phantom {
  position: relative;
  width: 200px;
  height: 200px;
}

.phantom-item {
  position: absolute;
  left: 0;
  top: 0;
  transition: transform 2s ease-out, opacity 2s ease-out;
  opacity: 1;
  transform: rotate(0deg) translate(0px, 0px) rotate(0deg);
}

.phantom-item.active {
  @for $i from 0 to $frame {
    &:nth-child(#{$i + 1}) {
      transition-delay: (1.35s / $frame) * ($i + 1);
      transform: rotate(15deg * (random() - 0.5))
        translate(60px * (random() - 1), 30px * (random() - 1));
      opacity: 0;
    }
  }
}
