body {
  margin: 0;
}

section {
  margin: 50px;
  border: 1px solid #888;
  overflow: scroll;
}

.title {
  text-align: center;
  color: #333;
}

.showcase {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.showcase > * {
  border: 1px solid #eee;
  margin: 10px;
}

.control {
  padding: 0 100px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.control button {
  margin: 10px;
}
